<aside class="left-sidebar" data-sidebarbg="skin5">
  <!-- Sidebar scroll-->
  <div class="scroll-sidebar">
    <!-- Sidebar navigation-->
    <nav class="sidebar-nav">
      <ul id="sidebarnav" class="pt-4">
        <li class="sidebar-item">
          <a
            class="sidebar-link waves-effect waves-dark sidebar-link"
            href="/home"
            aria-expanded="false"
            ><i class="mdi mdi-view-dashboard"></i
            ><span class="hide-menu">Dashboard</span></a
          >
        </li>

        <li class="sidebar-item">
          <a
            class="sidebar-link waves-effect waves-dark sidebar-link"
            href="/admins"
            aria-expanded="false"
            ><i class="mdi mdi-view-dashboard"></i
            ><span class="hide-menu">مديرين النظام</span></a
          >
        </li>
        <li class="sidebar-item">
          <a
            class="sidebar-link waves-effect waves-dark sidebar-link"
            href="/addNewAdmin"
            aria-expanded="false"
            ><i class="mdi mdi-chart-bar"></i
            ><span class="hide-menu">اضافة مدير نظام</span></a
          >
        </li>

        <li class="sidebar-item">
          <a
            class="sidebar-link waves-effect waves-dark sidebar-link"
            href="/prodacts"
            aria-expanded="false"
            ><i class="mdi mdi-chart-bar"></i
            ><span class="hide-menu">المنتجات</span></a
          >
        </li>


        <li class="sidebar-item">
          <a
            class="sidebar-link waves-effect waves-dark sidebar-link"
            href="/newprodact"
            aria-expanded="false"
            ><i class="mdi mdi-chart-bar"></i
            ><span class="hide-menu">اضافة منتج</span></a
          >
        </li>
        <li class="sidebar-item">
          <a
            class="sidebar-link waves-effect waves-dark sidebar-link"
            href="/logout"
            aria-expanded="false"
            ><i class="mdi mdi-chart-bar"></i
            ><span class="hide-menu">خروج</span></a
          >
        </li>
      </ul>
    </nav>
    <!-- End Sidebar navigation -->
  </div>
  <!-- End Sidebar scroll-->
</aside>
