<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head') %>
  </head>

  <body>
    <div id="main-wrapper" data-layout="vertical" data-navbarbg="skin5" data-sidebartype="full" data-sidebar-position="absolute" data-header-position="absolute" data-boxed-layout="full" >

  
        <div style="width: 50%; margin:auto; position: relative; top: 160px; ">
            <h1>اضافة منتج جديد الي قاعدة البيانات </h1>
            <form action="/addprodact" method="POST">
                <div class="mb-3">
                  <label for="exampleInputEmail1" class="form-label"> اسم المنتج</label>
                  <input type="text" class="form-control" name="prodactname" id="exampleInputEmail1" aria-describedby="emailHelp">
                </div>
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label"> رقم الباركود</label>
                    <input type="text" class="form-control" name="barcodenumber" id="exampleInputEmail1" aria-describedby="emailHelp">
                  </div>

                  <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label"> بلد الصنع</label>
                    <input type="text" class="form-control" name="country" id="exampleInputEmail1" aria-describedby="emailHelp">
                  </div>

                  <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label"> مكونات المنتج</label>
                    <textarea type="text" class="form-control" name="prodactmade" id="exampleInputEmail1" aria-describedby="emailHelp">
                  </div>

                  <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label"> وصف المنتج</label>
                    <textarea type="text" class="form-control" name="prodactdescription" id="exampleInputEmail1" aria-describedby="emailHelp">
                  </div>

                  <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label"> تاريخ انتهاء الصلاحية </label>
                    <input type="date" class="form-control" name="enddate" id="exampleInputEmail1" aria-describedby="emailHelp">
                  </div>
             
                <button type="submit" class="btn btn-primary">اضافة</button>
              </form>
       
        
        
        </div>



    </div>


    <%- include('../partials/bottom') %>
  </body>
</html>
