<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs')  %> 
    <title>Login</title>
</head>



<body>
    
    <div style="width: 50%; margin:auto; position: relative; top: 160px; ">

        <form action="/login" method="POST">
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label"> Username</label>
              <input type="text" class="form-control" name="username" id="exampleInputEmail1" aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Password</label>
              <input type="password" class="form-control"  name="upassword" id="exampleInputPassword1">
            </div>
     
            <div id="emailHelp" class="form-text"> <a href="/signup">Create New Account </a></div>
            <br>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
          <%  if(message){ %> 
            <div class="alert alert-danger" role="alert">
              <%= message  %> 
            </div>
            <% } %>
    
    
    </div>

    <%- include('../partials/bottom.ejs')  %> 
</body>
</html>